table.dataTable tbody tr.selected {
    background-color: #9DACFF;
    color: #000000;
}

.btn_add button {
    margin-top: 10px;
    height: 80%;
    width: 100%;
    padding: 0px;
}

.btn_add i {
    font-size: 16px;
    padding: 0;
    top: 2px;
    position: relative;
}

.is_invalid {
    border-color: #ed314c !important;
}

.is_invalid:focus {
    border-color: #ed314c !important;
}

.select2-is_invalid .select2-container--default .select2-selection--single {
    border: 1px solid #ed314c !important;
}

.select2-is_invalid .select2-container--default.select2-container--open.select2-container--below .select2-selection--single {
    border: 1px solid #ed314c !important;
}